@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap");

:root {
  --manrope: "Manrope", sans-serif;
  --fraunces: "Fraunces", serif;
  --dark-purple: #24053e;
  --davys-grey: #584d62;
  --eucalyptus: #44ffa1;
  --ghost-white: #fcf8ff;
  --white: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.hero {
  position: relative;
  height: 48.171rem;
  background-color: var(--dark-purple);
  clip-path: ellipse(140% 55% at 50% 45%);
  z-index: 2;
}

.hero_header {
  position: relative;
  width: 91.4666%;
  height: 3.4rem;
  top: 3.2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.hero_header-logo {
  width: 9.576rem;
  height: 2.461rem;
  margin: auto 0;
}

.hero_header-button {
  background-color: var(--dark-purple);
  border: none;
}

.hero_bg-img1,
.hero_bg-img2 {
  display: none;
}

.hero_button-text {
  color: var(--white);
  line-height: 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: var(--manrope);
  text-decoration: underline 3px var(--eucalyptus);
  text-underline-offset: 0.8rem;
}

.hero_button:hover,
.hero_button-text:hover {
  cursor: pointer;
  color: var(--eucalyptus);
}

.hero_button:active,
.hero_button-text:active {
  text-decoration: none;
}

.hero_banner {
  width: 91.466%;
  height: 19.5rem;
  position: relative;
  top: 9.8rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.hero_banner-title {
  color: var(--white);
  font-family: var(--fraunces);
  font-size: 13.333vw;
  font-variation-settings: "opsz" 144, "wght" 600;
  text-align: center;
  line-height: 1.1;
}

.hero_banner-title-highlight {
  text-decoration: underline 3px var(--eucalyptus);
  text-underline-offset: 0.8rem;
}

.hero_banner-button {
  background-color: var(--eucalyptus);
  border: none;
  height: 5.5rem;
  width: 13.3rem;
  margin: 0 auto;
}

.hero_banner-button:hover {
  cursor: pointer;
}

.hero_banner-button:active {
  background-color: var(--dark-purple);
  border: 1px solid var(--eucalyptus);
  color: var(--eucalyptus);
}

.hero_img {
  width: 85.333%;
  height: 18.4rem;
  position: absolute;
  left: 3.6rem;
  top: 38.9rem;
  z-index: 100;
}

.features {
  height: 107.071rem;
  background-color: var(--ghost-white);
  clip-path: ellipse(160% 55% at 50% 45%);
  position: relative;
  top: -9rem;
}

.features_box {
  position: relative;
  top: 24.5rem;
  width: 34.3rem;
  height: 75.4rem;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.features_box-container {
  width: 34.3rem;
  max-height: max-content;
}

.features_box-number-container {
  border: 1px solid black;
  width: 4.8rem;
  height: 4.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2.4rem;
}

.features_box-number {
  font-family: var(--fraunces);
  font-size: 2rem;
  font-variation-settings: "opsz" 144, "wght" 600;
  color: var(--dark-purple);
}

.features_box-text-container {
  text-align: center;
  width: 100%;
}

.features_box-text-container-title {
  font-family: var(--fraunces);
  font-size: 2.8rem;
  font-variation-settings: "opsz" 144, "wght" 600;
  color: var(--dark-purple);
  margin-bottom: 1.6rem;
}

.features_box-text-container-body {
  font-family: var(--manrope);
  font-size: 1.59rem;
  color: var(--davys-grey);
  line-height: 1.75;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .hero {
    height: 54.024rem;
  }

  .hero_header {
    width: 68.9rem;
  }

  .hero_banner {
    height: 21.5rem;
    width: 57.3rem;
    top: 9rem;
  }

  .hero_banner-title {
    font-size: 6rem;
  }

  .hero_bg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .hero_bg-img1,
  .hero_bg-img2 {
    display: block;
  }

  .hero_bg-img1 {
    position: absolute;
    width: 27.029rem;
    height: 21.51rem;
    top: 12.198rem;
    left: -18.759rem;
    transform: rotate(212deg);
  }

  .hero_bg-img2 {
    position: relative;
    width: 14.17rem;
    height: 11.271rem;
    top: 28.39rem;
    left: 70.449rem;
    transform: rotate(304deg);
  }

  .hero_img {
    width: 51.4rem;
    height: 29.6rem;
    left: 15.1rem;
    top: 39.2rem;
  }

  .features {
    height: 92.073rem;
    top: -13.724rem;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .hero {
    height: 73rem;
  }

  .hero_banner {
    width: 63.5rem;
    height: 25.8rem;
    top: 11.4rem;
  }

  .hero_banner-title {
    font-size: 8rem;
  }

  .hero_bg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .hero_bg-img1,
  .hero_bg-img2 {
    display: block;
  }

  .hero_bg-img1 {
    position: absolute;
    width: 27.029rem;
    height: 21.51rem;
    top: 16.698rem;
    left: -10.36rem;
    transform: rotate(212deg);
  }

  .hero_bg-img2 {
    position: relative;
    width: 14.17rem;
    height: 11.271rem;
    top: 34.797rem;
    left: 133.089rem;
    transform: rotate(304deg);
  }

  .hero_img {
    width: 76.7rem;
    height: 44.1rem;
    top: 45.4rem;
    left: 36.1rem;
  }

  .features {
    height: 96rem;
    top: -22.6rem;
  }
}
