@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap");

:root {
  --manrope: "Manrope", sans-serif;
  --fraunces: "Fraunces", serif;
  --dark-purple: #24053e;
  --davys-grey: #584d62;
  --eucalyptus: #44ffa1;
  --ghost-white: #fcf8ff;
  --white: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.hero {
  height: 48.171rem;
  background-color: var(--dark-purple);
  clip-path: ellipse(140% 55% at 50% 45%);
}

.hero_header {
  position: relative;
  width: 34.3rem;
  height: 3.4rem;
  top: 3.2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.hero_bg-img1,
.hero_bg-img2 {
  display: none;
}

.hero_button {
  background-color: var(--dark-purple);
  border: none;
}

.hero_button-text {
  color: var(--white);
  line-height: 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: var(--manrope);
  text-decoration: underline 3px var(--eucalyptus);
  text-underline-offset: 0.8rem;
}

.hero_button:hover,
.hero_button-text:hover {
  cursor: pointer;
  color: var(--eucalyptus);
}

.hero_button:active,
.hero_button-text:active {
  text-decoration: none;
}

.hero_banner {
  width: 34.3rem;
  height: 19.5rem;
  position: relative;
  top: 9.8rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.hero_banner-title {
  color: var(--white);
  font-family: var(--fraunces);
  font-size: 5rem;
  font-variation-settings: "opsz" 144, "wght" 600;
  text-align: center;
  line-height: 1.1;
}

.hero_banner-title-highlight {
  text-decoration: underline 3px var(--eucalyptus);
  text-underline-offset: 0.8rem;
}

.hero_banner-button {
  background-color: var(--eucalyptus);
  border: none;
  height: 5.5rem;
  width: 13.3rem;
  margin: 0 auto;
}

.hero_banner-button:hover {
  cursor: pointer;
}

.hero_banner-button:active {
  background-color: var(--dark-purple);
  border: 1px solid var(--eucalyptus);
  color: var(--eucalyptus);
}

.hero_img {
  width: 32rem;
  height: 18.4rem;
  position: absolute;
  left: 3.6rem;
  top: 38.9rem;
  z-index: 100;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1439.9px) {
  .hero {
    height: 54.024rem;
  }

  .hero_header {
    width: 68.9rem;
  }

  .hero_banner {
    height: 21.5rem;
    width: 57.3rem;
    top: 9rem;
  }

  .hero_banner-title {
    font-size: 6rem;
  }

  .hero_bg-img1,
  .hero_bg-img2 {
    display: block;
  }

  .hero_bg-img1 {
    position: absolute;
    top: 10.198rem;
    left: -21.759rem;
  }

  .hero_bg-img2 {
    position: absolute;
    top: 27.748rem;
    left: 68.9rem;
  }

  .hero_img {
    width: 51.4rem;
    height: 29.6rem;
    left: 15.1rem;
    top: 39.2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
}
